.background{
  background-image: linear-gradient(white,#868f96 170%);
}
button:active{outline-style:none;}
#image_anchor {margin-left:10px;}
.anim_delay1
{
-webkit-animation-delay: 600ms;
        -moz-animation-delay: 600ms;
         -ms-animation-delay: 600ms;
          -o-animation-delay: 600ms;
             animation-delay: 600ms;
}
.anim_delay2
{
-webkit-animation-delay: 1000ms;
        -moz-animation-delay: 1000ms;
         -ms-animation-delay: 1000ms;
          -o-animation-delay: 1000ms;
             animation-delay: 1000ms;
}
.anim_delay3
{
-webkit-animation-delay: 2000ms;
        -moz-animation-delay: 2000ms;
         -ms-animation-delay: 2000ms;
          -o-animation-delay: 2000ms;
             animation-delay: 2000ms;
}
.footer_img_partenaire
{
  width:220px;
  height:90px;
  margin-bottom: 10px;
}
.contenu{ background-color:white; }
header
{
  width:100%;
  opacity: 0.9;
  background-color:white;
  border-radius:120px;


}
.footer_partenaire
{
  background-color: white;
  margin-bottom:20px;
}
.row-margin
{
  margin:3px;
}
footer, header, .titre
{
  text-align: center;
}
.cRetour {
  border-radius:3px;
  padding:10px;
  font-size:15px;
  text-align:center;
  color:#fff;
  background:rgba(0, 0, 0, 0.25);
  z-index:99999;
  transition:all ease-in 0.2s;
  position: fixed;
  cursor: pointer;
  bottom: 1em;
  right: 20px;
  display: none;
}
.cRetour:before{ content: "\25b2"; }
.cRetour:hover{
  background:rgba(0, 0, 0, 1);
  transition:all ease-in 0.2s;
}

.anim_contact1
{
-webkit-animation-delay: 0ms;
        -moz-animation-delay: 0ms;
         -ms-animation-delay: 0ms;
          -o-animation-delay: 0ms;
             animation-delay: 0ms;
}
.anim_contact2
{
-webkit-animation-delay: 0ms;
        -moz-animation-delay: 0ms;
         -ms-animation-delay: 0ms;
          -o-animation-delay: 0ms;
             animation-delay: 0ms;
}
.anim_contact3
{
-webkit-animation-delay: 0ms;
        -moz-animation-delay: 0ms;
         -ms-animation-delay: 0ms;
          -o-animation-delay: 0ms;
             animation-delay: 0ms;
}
.anim_contact4
{
-webkit-animation-delay: 0ms;
        -moz-animation-delay: 0ms;
         -ms-animation-delay: 0ms;
          -o-animation-delay: 0ms;
             animation-delay: 0ms;
}
.anim_contact5
{
-webkit-animation-delay: 0ms;
        -moz-animation-delay: 0ms;
         -ms-animation-delay: 0ms;
          -o-animation-delay: 0ms;
             animation-delay: 0ms;
}


.portrait {
    float: 60px;
    height: 60px;
}

.portrait img {
    width: 60px;
    height: 60px;
}



/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: align center;
    height: 40vh;
}
.fade-carousel .carousel-inner .item {
    height: 40vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.hero h3 {
    font-size: 1em;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 8px 30px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #fff;
    background-color: rgba(137, 137, 137, 0.42);
    border-color: rgba(255, 255, 255, 0.4);
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5,
.fade-carousel .slides .slidep-1,
.fade-carousel .slides .slidep-2 {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 45px;
  margin-right:45px;
}

/*          SPECTACLE         */
.fade-carousel .slides .slide-1 {
  background-image: url(../images/vignette_parole.jpg);
}
.fade-carousel .slides .slide-2 {
  background-image: url(../images/atelier_transmi.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../images/snow.jpeg);
}
.fade-carousel .slides .slide-4 {
  background-image: url('../images/tract Marie site.jpg');
}
.fade-carousel .slides .slide-5 {
  background-image: url('../images/image dites femmes.jpg');
}

/*      PROJETS         */
.fade-carousel .slides .slidep-1 {
  background-image: url('../images/chemin_de_croisement/bulles costumes demo.jpg');
}
.fade-carousel .slides .slidep-2 {
  background-image: url('../images/chemin_de_croisement/Vitry 2.jpg');
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 1em; }
}


@media screen and (max-width: 640px){
    #img_header{ width: 300px; }
}

.btn-img {
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}










